//---------------------------------------------------------------------------
//
// Name:        TangramApp.rc
// Author:      Krzysiek
// Created:     2012-12-19 20:39:16
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
